<!DOCTYPE html>
<html lang="{{ _('es') }}">
<head>
	<title>Ububooknet</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
	<header id="header">
		<div class="logo">
			<h1>Ububooknet</h1>
		</div>
		<div class="region"> 
			<h2>{{ _('Acerca De') }}</h2>
		</div>
		<div class="menu">
			<ul>
				<li><a href="{{ url_for('index') }}">{{ _('Inicio') }}</a></li>
				<li><a href="https://github.com/lca0037/GII18.0U-Ububooknet">{{ _('Repositorio') }}</a></li>
				<li><a href="#">{{ _('Acerca De') }}</a></li>
			</ul>
		</div>
		<div class="banderas">
			<img src="{{ url_for('static', filename='img/esp.png') }}" id="esp" onclick="idioma('es','{{ g.locale }}')">
			<img src="{{ url_for('static', filename='img/uk.png') }}" id="uk" onclick="idioma('en','{{ g.locale }}')">
		</div>
	</header>
	<div id="content">
		<div id="about">
			<div class="apartadocentrado">{{_('Acerca de')}} Ububooknet</div>
			<br/>
			<div class="txt1justificado">
				<p>{{_('Ububooknet es una herramienta que permite generar de forma automática la red de interacciones de personajes en novelas y analizar las redes obtenidas para capturar sus métricas más relevantes.')}}</p>
				<p>{{_('Esta herramienta ha sido desarrollada por Luis Miguel Cabrejas Arce y tutorizada por D. José Manuel Galán Ordax y D. Luis Rodrigo Izquierdo Millán.')}}</p>
			</div>
			<br/><br/>
			<div class="apartadocentrado">{{_('Créditos')}}</div>
			<br/>
			<div class="txt1justificado">
				<ul>
					<li><a href="http://flask.pocoo.org/">Flask</a></li>
					<li><a href="https://pythonhosted.org/Flask-Babel/">Flask Babel</a></li>
					<li><a href="https://www.crummy.com/software/BeautifulSoup/bs4/doc/">Beautiful Soup</a></li>
					<li><a href="https://matplotlib.org/">Matplotlib</a></li>
					<li><a href="https://www.numpy.org/">Numpy</a></li>
					<li><a href="https://www.dabeaz.com/ply/">Ply</a></li>
					<li><a href="https://networkx.github.io/">Networkx</a></li>
					<li><a href="https://lxml.de/">lxml</a></li>
					<li><a href="https://github.com/html5lib/html5lib-python">html5lib</a></li>
					<li><a href="https://www.scipy.org/">scipy</a></li>
					<li><a href="https://github.com/benmaier/network_styling_with_d3">network_styling_with_d3</a></li>
				</ul>
			</div>
		</div>
	</div>
	<footer></footer>
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script src="{{ url_for('static', filename='js/language.js') }}" type="text/javascript"></script>
</body>
</html>
