<!DOCTYPE html>
<html lang="{{ _('es') }}">
<head>
	<title>Ububooknet</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
	<header id="header">
		<div class="logo">
			<h1>Ububooknet</h1>
		</div>
		<div class="region"> 
			<h2>{{ _('Importar Diccionario') }}</h2>
		</div>
		<div class="menu">
			<ul>
				<li><a href="{{ url_for('index') }}">{{ _('Inicio') }}</a></li>
				<li><a href="https://github.com/lca0037/GII18.0U-Ububooknet">{{ _('Repositorio') }}</a></li>
			</ul>
		</div>
		<div class="banderas">
			<img src="{{ url_for('static', filename='img/esp.png') }}" id="esp" onclick="idioma('es','{{ g.locale }}')">
			<img src="{{ url_for('static', filename='img/uk.png') }}" id="uk" onclick="idioma('en','{{ g.locale }}')">
		</div>
	</header>
	<div id="workflow">
		<div class="txt-work">
			<a href="{{ url_for('index') }}">{{ _('CARGAR EPUB') }}</a> > <a href="{{ url_for('dictaut') }}">{{ _('DICCIONARIO de PERSONAJES') }}</a> > {{ _('IMPORTAR DICCIONARIO') }}
		</div>
	</div>
	<div id="content">
		<div id="indice">
			<div id="form-mov">
				<input type="button" name="btn btn-volver" onclick="window.location.href='{{ url_for('dictaut') }}'" value="{{ _('Volver') }}">
			</div>
		</div>
		<div id="forms">
			<div id="form-content">
				<form id="form" action="" method="post" enctype=multipart/form-data>
					<div id="txt1">{{ _('Introduzca la ruta al fichero csv') }}</div>
					<input type="file" id="csv" name="btn btn-selcsv" value="{{ _('Seleccionar archivo') }}" accept=".csv">
					<input type="button" onclick="sendForm()" name="btn btn-cargarcsv" value="{{ _('Cargar') }}">
				</form>
			</div>
		</div>
	</div>
	<footer></footer>
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script src="{{ url_for('static', filename='js/language.js') }}" type="text/javascript"></script>
	<script type="text/javascript">
		function sendForm(){
			var x = document.getElementById("csv");
			var nfiles = x.files.length;
			if(nfiles == 1){
				var extension = x.files[0].name.split('.').pop();
				if(extension == "csv"){
					validNavigation = true;
					alert("{{ _('Fichero introducido correctamente') }}")
					document.getElementById("form").submit();
				} else {
					alert("{{ _('Formato de archivo equivocado') }}")
				}
			} else {
				alert("{{ _('Introduzca un archivo') }}")
			}
		}
		//https://eureka.ykyuen.info/2011/02/22/jquery-javascript-capture-the-browser-or-tab-closed-event/
		var validNavigation = false;

		function endSession() {
			$.ajax({
		      type: "POST",
		      contentType: "application/json;charset=utf-8",
		      url: "/Fin-Sesion",
		      traditional: "true",
		      data: JSON.stringify({{ g.usuario }}),
		      dataType: "json",
		      success: function(response){
          			location.reload();
         		 }
		    });
		}
		 
		function wireUpEvents() {
		  /*
		  * For a list of events that triggers onbeforeunload on IE
		  * check http://msdn.microsoft.com/en-us/library/ms536907(VS.85).aspx
		  */
		  window.onbeforeunload = function(event) {
		      if (!validNavigation) {
		         endSession();
		      }
		  }
		 
		  // Attach the event keypress to exclude the F5 refresh
		  $(document).bind('keydown', function(e) {
		    if (e.keyCode == 116){
		      validNavigation = true;
		    }
		  });
		 
		  // Attach the event click for all links in the page
		  $("a").bind("click", function() {
		    validNavigation = true;
		  });
		 
		  // Attach the event submit for all forms in the page
		  $("form").bind("submit", function() {
		    validNavigation = true;
		  });
		 
		  // Attach the event click for all inputs in the page
		  $("input[type=submit]").bind("click", function() {
		    validNavigation = true;
		  });

		  $("input[type=button]").bind("click", function() {
		    validNavigation = true;
	  	  });
		}
		 
		// Wire up the events as soon as the DOM tree is ready
		$(document).ready(function() {
		  wireUpEvents();  
		});
	</script>
</body>
</html>