<!DOCTYPE html>
<html lang="{{ _('es') }}">
<head>
	<title>Ububooknet</title>
	<meta charset="UTF-8">
</head>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
<body>
	<header id="header">
		<div class="logo">
			<h1>Ububooknet</h1>
		</div>
		<div class="region"> 
			<h2>{{ _('Modificar Diccionario') }}</h2>
		</div>
		<div class="menu">
			<ul>
				<li><a href="{{ url_for('index') }}">{{ _('Inicio') }}</a></li>
				<li><a href="https://github.com/lca0037/GII18.0U-Ububooknet">{{ _('Repositorio') }}</a></li>
			</ul>
		</div>
		<div class="banderas">
			<img src="{{ url_for('static', filename='img/esp.png') }}" id="esp" onclick="idioma('es','{{ g.locale }}')">
			<img src="{{ url_for('static', filename='img/uk.png') }}" id="uk" onclick="idioma('en','{{ g.locale }}')">
		</div>
	</header>
	<div id="workflow">
		<div class="txt-work">
			<a href="{{ url_for('index') }}">{{ _('CARGAR EPUB') }}</a> > <a href="{{ url_for('dictaut') }}">{{ _('DICCIONARIO de PERSONAJES') }}</a> > <a href="#">{{ _('MODIFICAR DICCIONARIO') }}</a> > {{ _('PARÁMETROS ADICIONALES') }} > {{ _('RED') }} > {{ _('INFORME') }}
		</div>
	</div>
	<div id="loading"></div>
	<div id="content">
		<div id="indice">
			<form action="" id="form-menu" method="post">
				<input type="submit" id="npers" name="btn btn-newpers" value="{{ _('Añadir Personaje') }}">
				<input type="submit" id="dpers" name="btn btn-delpers" value="{{ _('Eliminar Personaje') }}">
				<input type="submit" id="jpers" name="btn btn-joinpers" value="{{ _('Juntar Personajes') }}">
				<input type="submit" id="nref" name="btn btn-newrefpers" value="{{ _('Añadir Referencia') }}">
				<input type="submit" id="dref" name="btn btn-delrefpers" value="{{ _('Eliminar Referencia') }}">
				<input type="submit" id="mid" name="btn btn-modid" value="{{ _('Modificar Id Personaje') }}">
				<input type="submit" id="exp" name="btn btn-expdict" value="{{ _('Exportar Diccionario') }}">
			</form>
			<div id="cbx">
				<div class="txt1">
					<input type="checkbox" id="pars-cbx" name="cbx cbx-pars">
					<label for="pars-cbx">{{ _('Obtener Posiciones') }}</label>
				</div>
			</div>
			<div id="form-mov">
				<input type="button" class="volv" name="btn btn-volver" value="{{ _('Volver') }}" onclick="window.location.href='{{ url_for('dictaut') }}'">
				<input type="button" class="sig" name="btn btn-parseo" title="{{ _('Este proceso puede llevar unos minutos') }}" onclick="loading()" value="{{ _('Siguiente') }}">
			</div>
		</div>
		<div id="Personaje-Cabecera">
			<div class="IdPersonaje">
				{{ _('ID Personaje') }}
				<div class="arrow-up" onclick="ordenar('idrev')"></div>
				<div class="arrow-down" onclick="ordenar('id')"></div>
			</div>
			<div class="NomP">{{ _('Referencias personaje') }}</div>
			<div class="NumApar">
				{{ _('Número Apariciones') }}
				<div class="arrow-up" onclick="ordenar('aparev')"></div>
				<div class="arrow-down" onclick="ordenar('apa')"></div>
			</div>
		</div>
		<div id="Personajes">
			{% for i in pers.keys() %}
			<div class="Personaje" idp="{{ i }}" numapa="{{ pers[i].getNumApariciones()[0] }}">
				<div class="IdPersonaje">{{ i }}</div>
				<div class="NomP">
				{% for n in pers[i].getPersonaje().keys() %}
					<p class="ref">{{ n }}</p>
				{% endfor %}
				</div>
				{% if pers[i].getNumApariciones()[1] %}
					<div class="NumApar" parse="true">{{ pers[i].getNumApariciones()[0] }}</div>
				{% elif pers[i].getNumApariciones()[0] == 0 %}
					<div class="NumApar" parse="false">N/A</div>
				{% else%}
					<div class="NumApar" parse="false">{{ pers[i].getNumApariciones()[0] }}</div>
				{% endif %}
			</div>
			{% endfor %}
		</div>
	</div>
	<footer></footer>
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script src="{{ url_for('static', filename='js/orden.js') }}" type="text/javascript"></script>
	<script src="{{ url_for('static', filename='js/language.js') }}" type="text/javascript"></script>
	<script type="text/javascript">
        function loading(){
        	var parsear = document.getElementById("pars-cbx").checked;
        	if(parsear){
        		alert("{{ _('Primero se van a buscar las posiciones de los personajes, esto puede tardar unos minutos.') }}");
        		$("#loading").show();
            	$("#content").hide();
            	$("#workflow").hide();
            	$(".banderas").hide();
            	$.ajax({
	          		type: "POST",
	          		contentType: "application/json;charset=utf-8",
	          		url: "/Modificar-Diccionario/",
	          		traditional: "true",
	          		data: JSON.stringify('parsear'),
	          		dataType: "json",
	          		success: function(response){
	          			location.reload();
             		 }
	        	});
        	} else {
        		window.location.href='{{ url_for('params') }}'
        	}     
        }

        window.onload = function lockcbx() {
        	var divapar = document.getElementsByClassName("NumApar");
        	for(var i=0; divapar[i]; ++i){
        		if(divapar[i].getAttribute("parse")=="false"){
        			document.getElementById("pars-cbx").checked = true;
        			document.getElementById("pars-cbx").disabled = true;
        		}
        	}
        }

        //https://eureka.ykyuen.info/2011/02/22/jquery-javascript-capture-the-browser-or-tab-closed-event/
		var validNavigation = false;

		function endSession() {
		  	console.log('Holiwi')
			$.ajax({
		      type: "POST",
		      contentType: "application/json;charset=utf-8",
		      url: "/Fin-Sesion",
		      traditional: "true",
		      data: JSON.stringify({{ g.usuario }}),
		      dataType: "json",
		      success: function(response){
          			location.reload();
         		 }
		    });
		}
		 
		function wireUpEvents() {
		  /*
		  * For a list of events that triggers onbeforeunload on IE
		  * check http://msdn.microsoft.com/en-us/library/ms536907(VS.85).aspx
		  */
		  window.onbeforeunload = function(event) {
		  	//console.log(event)
		  	console.log('before',validNavigation)
		      if (!validNavigation) {
		         endSession();
		      }
		  }
		 
		  // Attach the event keypress to exclude the F5 refresh
		  $(document).bind('keydown', function(e) {
		    if (e.keyCode == 116){
		      validNavigation = true;
		    }
		  });
		 
		  // Attach the event click for all links in the page
		  $("a").bind("click", function() {
		    validNavigation = true;
		  });
		 
		  // Attach the event submit for all forms in the page
		  $("form").bind("submit", function() {
		    validNavigation = true;
		  });
		 
		  // Attach the event click for all inputs in the page
		  $("input[type=submit]").bind("click", function() {
		    validNavigation = true;
		  });

		  $("input[type=button]").bind("click", function() {
		    validNavigation = true;
	  	  });
		}
		 
		// Wire up the events as soon as the DOM tree is ready
		$(document).ready(function() {
		  wireUpEvents();  
		});
    </script>
</body>
</html>
