<!DOCTYPE html>
<html lang="{{ _('es') }}">
<head>
	<title>Ububooknet</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
	<header id="header">
		<div class="logo">
			<h1>Ububooknet</h1>
		</div>
		<div class="region"> 
			<h2>{{ _('Visualización Informe') }}</h2>
		</div>
		<div class="menu">
			<ul>
				<li><a href="{{ url_for('index') }}">{{ _('Inicio') }}</a></li>
				<li><a href="https://github.com/lca0037/GII18.0U-Ububooknet">{{ _('Repositorio') }}</a></li>
				<li><a href="{{ url_for('about') }}" target="_blank">{{ _('Acerca De') }}</a></li>
			</ul>
		</div>
		<div class="banderas">
			<img src="{{ url_for('static', filename='img/esp.png') }}" id="esp" onclick="idioma('es','{{ g.locale }}')">
			<img src="{{ url_for('static', filename='img/uk.png') }}" id="uk" onclick="idioma('en','{{ g.locale }}')">
		</div>
	</header>
	<div id="workflow">
		<div class="txt-work">
			<a href="{{ url_for('index') }}">{{ _('CARGAR EPUB') }}</a> > <a href="{{ url_for('dictaut') }}">{{ _('DICCIONARIO de PERSONAJES') }}</a> > <a href="{{ url_for('moddict') }}">{{ _('MODIFICAR DICCIONARIO') }}</a> > <a href="{{ url_for('params') }}">{{ _('PARÁMETROS ADICIONALES') }}</a> > <a href="{{ url_for('red') }}">{{ _('RED') }}</a> > <a href="{{ url_for('informe') }}">{{ _('INFORME') }}</a> > {{ _('VISUALIZACION INFORME') }}
		</div>
	</div>
	<div id="content">
		<div id="indice">
			<div id="form-mov">
				<input type="button" name="btn btn-volver" onclick="window.location.href='{{ url_for('informe') }}'" value="{{ _('Volver') }}">
			</div>
		</div>
		<div id="forms">
			{% if "cbx cbx-nnod" in informe.keys() %}
				<p><div class="apartado">{{_('Número Nodos')}}:</div> {{informe["cbx cbx-nnod"]}}</p><br/>
			{% endif %}
			{% if "cbx cbx-nenl" in informe.keys() %}
				<p><div class="apartado">{{_('Número Enlaces')}}:</div> {{informe["cbx cbx-nenl"]}}</p><br/>
			{% endif %}
			{% if "cbx cbx-nint" in informe.keys() %}
				<p><div class="apartado">{{_('Número Interacciones')}}:</div> {{informe["cbx cbx-nint"]}}</p><br/>
			{% endif %}
			{% if "cbx cbx-gradosin" in informe.keys() %}
				<p><div class="apartado">{{_('Grado Nodos Sin Peso')}}:</div> </p>
				{% for x in informe["cbx cbx-gradosin"] %}
					<p>{{x[0]}}: {{x[1]}}</p>
				{% endfor %}
				<br/>
			{% endif %}
			{% if "cbx cbx-gradocon" in informe.keys() %}
				<p><div class="apartado">{{_('Grado Nodos Con Peso')}}:</div> </p>
				{% for x in informe["cbx cbx-gradocon"] %}
					<p>{{x[0]}}: {{x[1]}}</p>
				{% endfor %}
				<br/>
			{% endif %}
			{% if "cbx cbx-distsin" in informe.keys() %}
				<p><div class="apartado">{{_('Distribución Grado Sin Peso')}}:</div> </p>
				{% for x in informe["cbx cbx-distsin"].keys() %}
					<p>{{_('Grado')}}: {{x}}, {{_('Num Nodos con este Grado')}}: {{informe["cbx cbx-distsin"][x]}}</p>
				{% endfor %}
				<img src="{{ url_for('download_file', filename='dsin.png') }}">
				<br/>
			{% endif %}
			{% if "cbx cbx-distcon" in informe.keys() %}
				<p><div class="apartado">{{_('Distribución Grado Con Peso')}}:</div> </p>
				{% for x in informe["cbx cbx-distcon"].keys() %}
					<p>{{_('Grado')}}: {{x}}, {{_('Num Nodos con este Grado')}}: {{informe["cbx cbx-distcon"][x]}}</p>
				{% endfor %}
				<img src="{{ url_for('download_file', filename='dcon.png') }}">
				<br/>
			{% endif %}
			{% if "cbx cbx-dens" in informe.keys() %}
				<p><div class="apartado">{{_('Densidad')}}:</div> {{informe["cbx cbx-dens"]}}</p><br/>
			{% endif %}
			{% if "cbx cbx-concomp" in informe.keys() %}
				<p><div class="apartado">{{_('Componentes Conectados')}}:</div> </p>
				{% for x in informe["cbx cbx-concomp"] %}
					<div class="subapartado">{{_('Componente')}}: </div>
					<p>
						{% for i in x %}
							{{ i }}, 
						{% endfor %}
					</p>
				{% endfor %}
				<br/>
			{% endif %}
			{% if "cbx cbx-exc" in informe.keys() %}
				<p><div class="apartado">{{_('Excentricidad')}}:</div> </p>
				{% for x in informe["cbx cbx-exc"].keys() %}
					<p>{{ x }}: {{ informe["cbx cbx-exc"][x] }}</p>
				{% endfor %}
				<br/>
			{% endif %}
			{% if "cbx cbx-dia" in informe.keys() %}
				<p><div class="apartado">{{_('Diametro')}}:</div> {{informe["cbx cbx-dia"]}}</p><br/>
			{% endif %}
			{% if "cbx cbx-rad" in informe.keys() %}
				<p><div class="apartado">{{_('Radio')}}:</div> {{informe["cbx cbx-rad"]}}</p><br/>
			{% endif %}
			{% if "cbx cbx-longmed" in informe.keys() %}
				<p><div class="apartado">{{_('Distancia Media')}}:</div> {{informe["cbx cbx-longmed"]}}</p><br/>
			{% endif %}
			{% if "cbx cbx-locclust" in informe.keys() %}
				<p><div class="apartado">{{_('Clustering Local')}}:</div> </p>
				{% for x in informe["cbx cbx-locclust"].keys() %}
					<p>{{ x }}: {{ informe["cbx cbx-locclust"][x] }}</p>
				{% endfor %}
				<br/>
			{% endif %}
			{% if "cbx cbx-clust" in informe.keys() %}
				<p><div class="apartado">{{_('Clustering Global')}}:</div> {{informe["cbx cbx-clust"]}}</p><br/>
			{% endif %}
			{% if "cbx cbx-trans" in informe.keys() %}
				<p><div class="apartado">{{_('Transitividad')}}:</div> {{informe["cbx cbx-trans"]}}</p><br/>
			{% endif %}
			{% if "cbx cbx-centg" in informe.keys() %}
				<p><div class="apartado">{{_('Centralidad Grado')}}:</div> </p>
				{% for x in informe["cbx cbx-centg"].keys() %}
					<p>{{ x }}: {{ informe["cbx cbx-centg"][x] }}</p>
				{% endfor %}
				<img src="{{ url_for('download_file', filename='centg.png') }}">
				<br/>
			{% endif %}
			{% if "cbx cbx-centc" in informe.keys() %}
				<p><div class="apartado">{{_('Centralidad Cercanía')}}:</div> </p>
				{% for x in informe["cbx cbx-centc"].keys() %}
					<p>{{ x }}: {{ informe["cbx cbx-centc"][x] }}</p>
				{% endfor %}
				<img src="{{ url_for('download_file', filename='centc.png') }}">
				<br/>
			{% endif %}
			{% if "cbx cbx-centi" in informe.keys() %}
				<p><div class="apartado">{{_('Centralidad Intermediación')}}:</div> </p>
				{% for x in informe["cbx cbx-centi"].keys() %}
					<p>{{ x }}: {{ informe["cbx cbx-centi"][x] }}</p>
				{% endfor %}
				<img src="{{ url_for('download_file', filename='centi.png') }}">
				<br/>
			{% endif %}
			{% if "cbx cbx-ranwal" in informe.keys() %}
				<p><div class="apartado">{{_('Centralidad Intermediación Camino Aleatorio')}}:</div> </p>
				{% for x in informe["cbx cbx-ranwal"].keys() %}
					<p>{{ x }}: {{ informe["cbx cbx-ranwal"][x] }}</p>
				{% endfor %}
				<img src="{{ url_for('download_file', filename='ranwal.png') }}">
				<br/>
			{% endif %}
			{% if "cbx cbx-centv" in informe.keys() %}
				<p><div class="apartado">{{_('Centralidad Valor Propio')}}:</div> </p>
				{% for x in informe["cbx cbx-centv"].keys() %}
					<p>{{ x }}: {{ informe["cbx cbx-centv"][x] }}</p>
				{% endfor %}
				<img src="{{ url_for('download_file', filename='centv.png') }}">
				<br/>
			{% endif %}
			{% if "cbx cbx-para" in informe.keys() %}
				<p><div class="apartado">{{_('Pagerank')}}:</div> </p>
				{% for x in informe["cbx cbx-para"].keys() %}
					<p>{{ x }}: {{ informe["cbx cbx-para"][x] }}</p>
				{% endfor %}
				<img src="{{ url_for('download_file', filename='para.png') }}">
				<br/>
			{% endif %}
			{% if "cbx cbx-kcliperc" in informe.keys() %}
				<p><div class="apartado">{{_('Comunidades K-clique')}}:</div> </p>
				{% for x in informe["cbx cbx-kcliperc"] %}
					<div class="subapartado">{{_('Comunidad')}}: </div>
					<p>
						{% for i in x %}
							{{ i }}, 
						{% endfor %}
					</p>
				{% endfor %}
				<img src="{{ url_for('download_file', filename='kcliperc.png') }}">
				<br/>
			{% endif %}
			{% if "cbx cbx-girnew" in informe.keys() %}
				<p><div class="apartado">{{_('Comunidades Girvan-Newman')}}:</div> </p>
				{% for x in informe["cbx cbx-girnew"] %}
					<div class="subapartado">{{_('Comunidad')}}: </div>
					<p>
						{% for i in x %}
							{{ i }}, 
						{% endfor %}
					</p>
				{% endfor %}
				<img src="{{ url_for('download_file', filename='girnew.png') }}">
				<br/>
			{% endif %}
			{% if "cbx cbx-roles" in informe.keys() %}
				<p><div class="subapartado">{{_('Hubs Provinciales')}}:</div> </p>
				{% for x in informe["cbx cbx-roles"]['hubp'] %}
					<p>
						{{x}}
					</p>
				{% endfor %}
				<p><div class="subapartado">{{_('Hubs Conectores')}}:</div> </p>
				{% for x in informe["cbx cbx-roles"]['hubc'] %}
					<p>
						{{x}}
					</p>
				{% endfor %}
				<p><div class="subapartado">{{_('Hubs Kinless')}}:</div> </p>
				{% for x in informe["cbx cbx-roles"]['hubk'] %}
					<p>
						{{x}}
					</p>
				{% endfor %}
				<p><div class="subapartado">{{_('No Hubs Ultra Periféricos')}}:</div> </p>
				{% for x in informe["cbx cbx-roles"]['nhubu'] %}
					<p>
						{{x}}
					</p>
				{% endfor %}
				<p><div class="subapartado">{{_('No Hubs Periféricos')}}:</div> </p>
				{% for x in informe["cbx cbx-roles"]['nhubp'] %}
					<p>
						{{x}}
					</p>
				{% endfor %}
				<p><div class="subapartado">{{_('No Hubs Conectores')}}:</div> </p>
				{% for x in informe["cbx cbx-roles"]['nhubc'] %}
					<p>
						{{x}}
					</p>
				{% endfor %}
				<p><div class="subapartado">{{_('No Hubs Kinless')}}:</div> </p>
				{% for x in informe["cbx cbx-roles"]['nhubk'] %}
					<p>
						{{x}}
					</p>
				{% endfor %}
				<br/>
			{% endif %}
		</div>
	</div>
	<footer></footer>
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script src="{{ url_for('static', filename='js/language.js') }}" type="text/javascript"></script>
	<script type="text/javascript">
		
		function sendForm() {
			var msg = "{{ _('Por favor introduzca valor en:') }}"
			var send = true
			if(document.getElementById("cbx-kcliperc").checked && document.getElementById("valkcliqper").value.length == 0){
				send = false
				msg += "\n" + "{{_('K del K-clique de comunidades')}}"
			}
			if(send){
				validNavigation = true;
				document.getElementById("form").submit()
			} else {
				alert(msg)
			}
		}

		//https://eureka.ykyuen.info/2011/02/22/jquery-javascript-capture-the-browser-or-tab-closed-event/
		var validNavigation = false;

		function endSession() {
			$.ajax({
		      type: "POST",
		      contentType: "application/json;charset=utf-8",
		      url: "/Fin-Sesion",
		      traditional: "true",
		      data: JSON.stringify({{ g.usuario }}),
		      dataType: "json",
		      success: function(response){
          			location.reload();
         		 }
		    });
		}
		 
		function wireUpEvents() {
		  /*
		  * For a list of events that triggers onbeforeunload on IE
		  * check http://msdn.microsoft.com/en-us/library/ms536907(VS.85).aspx
		  */
		  window.onbeforeunload = function(event) {
		      if (!validNavigation) {
		         endSession();
		      }
		  }
		 
		  // Attach the event keypress to exclude the F5 refresh
		  $(document).bind('keydown', function(e) {
		    if (e.keyCode == 116){
		      validNavigation = true;
		    }
		  });
		 
		  // Attach the event click for all links in the page
		  $("a").bind("click", function() {
		    validNavigation = true;
		  });
		 
		  // Attach the event submit for all forms in the page
		  $("form").bind("submit", function() {
		    validNavigation = true;
		  });
		 
		  // Attach the event click for all inputs in the page
		  $("input[type=submit]").bind("click", function() {
		    validNavigation = true;
		  });

		  $("input[type=button]").bind("click", function() {
		    validNavigation = true;
	  	  });
		}
		 
		// Wire up the events as soon as the DOM tree is ready
		$(document).ready(function() {
		  wireUpEvents();  
		});
	</script>
</body>
</html>